# Ignore some static files and directories.
/.htaccess
/CJzip.php
/config.php
/favicon.ico
/index.php
/LICENSE.txt
/mainfile.php
/robots.php
/robots.txt
/web.config
/admin/
/cache/
/data/
/editors/
/files/
/images/
/includes/
/install/
/js/
/language/
/logs/
/sess/
/tmp/
/uploads/
/themes/
/modules/
/CHANGELOG.txt
/COPYRIGHT.txt

# Allow this
!/images/jwplayer5/
!/images/jwplayer6/
!/editors/ckeditor/plugins/jwplayer/
/.gitattributes
/CONTRIBUTING.md
/assets
/composer.json
/vendor
/error.php
/.buildpath
/.github
/.project
/.settings
